<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
		<permission action="dispHgucalendarAdminShow" target="manager" />

		<permission action="procHgucalendarAdminInsertHgucalendar" target="manager" />
    </permissions>
    <actions>
		<action name="dispHgucalendarShow" type="view" index="true" />
		<action name="dispHgucalendarEventReg" ruleset="eventRegRule" type="view"/>
		<action name="dispHgucalendarContentRegist" type="view" />
		<action name="dispHgucalendarEventModify" type="view"/>
		<action name="dispHgucalendarEventView" type="view"/>
		<action name="dispHgucalendarGroupManager" type="view" />
		<action name="dispHgucalendarSeatManager" type="view" />
		<action name="dispHgucalendarSeatView" type="view" />
		<action name="dispHgucalendarUser" type="view"/>

		<action name="procHgucalendarEventReg" type="controller" standalone="true" />
		<action name="procHgucalendarEventInfo" type="controller" standalone="true" />
		<action name="procHgucalendarGoupPermit" type="controller" standalone="true" />
		<action name="procHgucalendarSeatManage" type="controller" standalone="true" />
		<action name="procHgucalendarSeatReserve" type="controller" standalone="true" />


		<action name="dispHgucalendarAdminShow" type="view" admin_index="true" />
		<action name="dispHgucalendarAdminDelete" type="view"  />
		<action name="dispHgucalendarAdminSkinInfo" type="view"  />
		<action name="dispHgucalendarAdminInsertHgucalendar" type="view" standalone="true" />

		<action name="procHgucalendarAdminInsertHgucalendar" type="controller" standalone="true" />
		<action name="procHgucalendarAdminDelete" type="controller" standalone="true" />
		<action name="procHgucalendarUserReg" type="controller" standalone="true" />
		
		
	</actions>
	<menus>
	</menus>
</module>